<!DOCTYPE html>
<html lang="ko">
  <%- include('partials/head'); %>
<body>
  <h1>here is 404 page , sorry to you come here</h1>
  <hr>
  <a href="/board">게시판으로</a><br>
  <a href="/">홈으로</a>
</body>
  <%- include('partials/tail'); %>
</html>