<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="/public/style.css">
</head>
<body>
  <h1>안녕하세요</h1>
  <% if( !cookieCheck ){ %>
    <div class="modal">
      <div class="modal_body">
        <form name="modal_today">
          <button type="button" class="close_btn">&times;</button>
          <textarea id="modal_textArea" class="modal_textArea" style="resize: none;"></textarea>
          <div class="checkbox_wrapper">
            <input type="checkbox" name="today_check" id="today_check">
            <label for="today_check">오늘하루 그만보기 ( * 사실은 1분)</label>
          </div>
          <button type="submit" class="modal_btn">알겠습니다.</button>
        </form>
      </div>
    </div>
  <% } %>
</body>
<script src="/public/jscript.js"></script>
</html>