<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
  <h1> 동적 어쩌고 파일 어쩌고 데이터 어쩌고! 폼! </h1>
  <hr>
  <fieldset style="width:500px;">
    <legend>회원가입</legend>
    <form name="register" enctype="multipart/form-data">
      <input type="text" name="userId" id="userId" placeholder="아이디" value="가나다"><br>
      <input type="password" name="userPw" id="userPw" placeholder="비밀번호" value="1234"><br>
      <input type="text" name="userName" id="userName" placeholder="이름" value="가나다"><br>
      <input type="Number" name="userAge" id="userAge" placeholder="나이" value="12"><br>
      <input type="file" name="userImage" id="userImage"><br>
    <button type="button" onclick="signInFunc()">회원가입하기!</button>
    </form>
  </fieldset>
  <fieldset style="width:500px;" class="resultBox">
    <legend>가입 정보</legend>
    <img src="/static/uploads/PoNo0143.webp" alt="사진 어디갔어 ㅠ" class="userImage" id="result-userImage">
    <div id="result-userId">???</div>
    <div id="result-userPw">???</div>
    <div id="result-userName">???</div>
    <div id="result-userAge">???</div>
  </fieldset>
</body>
  <script src="/static/js/signin.js"></script>
</html>