.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.input-wrapper{

  text-align: center;
}
.input-title{
  width: 100vw;
  background-color: bisque;
  color: brown;
}
.food-props{
  color: red;
}

.book-image{
  background-image:url(./duck.jpeg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
}
.book-wrapper{
  width: 50%;
  height: 300px;
  background-color: ivory;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.book-main-itle{
  color: orange;
  font-size: 3rem;
}
.book-title{
  font-size: 2rem;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
