<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title%></title>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
  <fieldset style="width: 500px;">
    <legend>회원가입</legend>
    <form name="register">
      <input type="text" name="userId" id="userId" placeholder="아이디" required><br>
      <input type="password" name="userPw" id="userPw" placeholder="비밀번호" required><br>
      <input type="text" name="userName" id="userName" placeholder="이름" required><br>
      <input type="number" name="userAge" id="userAge" placeholder="나이" required><br>
      <input type="file" method="post" name="userImage" id="userImage" enctype="multipart/form-data" required><br>
      <button type="button" onclick="dynamicSignIn()">회원가입</button>
    </form>
  </fieldset>

  <fieldset style="width: 500px;">
    <legend>result-box</legend>
    <div id="userInfo-wrapper"> 
      <img src="/static/uploads/startT.png" alt="유저 이미지 어디감?" id="userInfo-image">
      <div id="userInfo-pw">none</div>
      <div id="userInfo-name">none</div>
      <div id="userInfo-age">none</div>
    </div>
  </fieldset>
</body>
  <script src="/static/js/signIn.js"></script>
</html>