<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

</head>
<body>
  <div>
    <!-- <form action="getForm" method="get">
      <label for="userName">이름 </label><input type="text" name="userName" id="userName">
      <fieldset>
        <legend>성별</legend>
        <input type="radio" name="gender" id="male" value="male">
        <label for="male">남성</label>
        <input type="radio" name="gender" id="female" value="female">
        <label for="female">여성</label>
      </fieldset>
      <fieldset>
        <%- include('./partials/birthOption.ejs')%>
        <label for="birthYear">년</label>
        <select id="birthMonth" name="birth" min="1" max="12" placeholder="6" required>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6" selected>6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
        </select>
        <label for="birthMonth">월</label>
        <select type="select" id="birthDay" name="birth">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
          <option value="21">21</option>
          <option value="22">22</option>
          <option value="23">23</option>
          <option value="24">24</option>
          <option value="25">25</option>
          <option value="26">26</option>
          <option value="27">27</option>
          <option value="28">28</option>
          <option value="29">29</option>
          <option value="30">30</option>
          <option value="31">31</option>
        </select>
        <label for="birthDay">일</label>
      </fieldset>
      <fieldset>
        <legend>관심사</legend>
        <input type="checkbox" id="travel" name="hobby" value="travel">
        <label for="travel">여행</label>
        <input type="checkbox" id="fashion" name="hobby" value="fashion">
        <label for="fashion">패션</label>
        <input type="checkbox" id="food" name="hobby" value="food">
        <label for="food">음식</label>
      </fieldset>
      <button type="submit">회원 가입</button>
    </form> -->
    <form action="postForm" method="post">      <label for="userName">이름 </label><input type="text" name="userName" id="userName">
      <fieldset>
        <legend>성별</legend>
        <input type="radio" name="gender" id="male" value="male">
        <label for="male">남성</label>
        <input type="radio" name="gender" id="female" value="female">
        <label for="female">여성</label>
      </fieldset>
      <fieldset>
        <%- include('./partials/birthOption.ejs')%>
        <label for="birthYear">년</label>
        <select id="birthMonth" name="birth" min="1" max="12" placeholder="6" required>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6" selected>6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
        </select>
        <label for="birthMonth">월</label>
        <select type="select" id="birthDay" name="birth">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
          <option value="21">21</option>
          <option value="22">22</option>
          <option value="23">23</option>
          <option value="24">24</option>
          <option value="25">25</option>
          <option value="26">26</option>
          <option value="27">27</option>
          <option value="28">28</option>
          <option value="29">29</option>
          <option value="30">30</option>
          <option value="31">31</option>
        </select>
        <label for="birthDay">일</label>
      </fieldset>
      <fieldset>
        <legend>관심사</legend>
        <input type="checkbox" id="travel" name="hobby" value="travel">
        <label for="travel">여행</label>
        <input type="checkbox" id="fashion" name="hobby" value="fashion">
        <label for="fashion">패션</label>
        <input type="checkbox" id="food" name="hobby" value="food">
        <label for="food">음식</label>
      </fieldset>
      <fieldset>
        <legend>선택</legend>
        <label for="likecolor">좋아하는 색상</label>
        <input type="color" id="likecolor" name="likecolor"><br>
        <label for="likenumber">좋아하는 숫자</label>
        <input type="number" id="likenumber" name='likenumber'>
      </fieldset>
      <button type="submit">회원 가입</button>

    </form>
  </div>
  
</body>
</html>