<!DOCTYPE html>
<html lang="ko">
  <%- include('partials/head.ejs') %>
  <link rel="stylesheet" href="/st/indexstyle.css">
<body>
  <article>
    <form name="login-form">
      <div class="input-container">
        <i class="fas fa-user"></i>
        <input type="text" id="userId" placeholder="아이디">
      </div>
      <div class="input-container">
        <i class="fas fa-key"></i>
        <input type="password" id="userPw" placeholder="비밀번호">
      </div>
      <div class="buttongroup">
        <button type="button" onclick="signInFunc()">로그인</button>
      </div>
      <hr>
      <div><a href="/signup">회원가입</a></div>
    </form>
  </article>
</body>
  <%- include('partials/tail.ejs') %>
</html>