<!DOCTYPE html>
<html lang="ko">
  <%- include('partials/head.ejs') %>
<body>
  <article>
    <form name="signup-form">
      ㅁ<input type="text" id="userId" placeholder="아이디"><button type="button" id='exist-button' onclick="checkDuplicateUserId()">중복확인</button><br>
      ㅁ<input type="text" id="userName" placeholder="이름"><br>
      ㅁ<input type="password" id="userPw" placeholder="비밀번호"><br>
      <div class="buttongroup">
        <button type="button" onclick="signUpFunc()">회원가입</button>
      </div>
      <hr>
      <div><a href="/">로그인</a></div>
    </form>
  </article>
</body>
  <%- include('partials/tail.ejs') %>
</html>