.dot-glass-left{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 120px;
}
.glass-dot{
    box-sizing: border-box;
    width: 10%;
    height: 25%;
    border: 1px solid black;
}
.black-dot{
    background-color: rgb(71, 71, 71);
}
.white-dot{
    background-color:white;
}
.dot-blank{
    background-color: none;
}
.dot-glass-right{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    width: 300px;
    height: 120px;
}
.glass-box{
    
    display: flex;
}
.glass-center{
    
}