<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document <%= title %></title>
</head>
<body>
    <!-- <h1>create.ejs</h1>
    <% for(let i = 0 ; i < 5 ; i ++ ){ %>
        <h2>hello in create.ejs</h2>
    <% } %> -->
    <nav>
        <div>
            <a href="/">으아아앆! 블로그?</a>
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">about</a></li>
            <li><a href="/create">create</a></li>
        </ul>
    </nav>
    <div>
        <h1>create</h1>
        
    </div>
</body>
</html>