<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>project <%= title %></title>
</head>
<body>
    <!-- <div>
        <%= 10-2 %>
        <%= true ? '트루': '거짓말' %>
        <%# 주석입니다. %> 
        
        <% for(let i = 0 ; i < 5 ; i ++ ){ %>
            <h2>hello</h2>
        <%}%>
    </div> -->
    <nav>
        <div>
            <a href="/">으아아앆! 블로그?</a>
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">about</a></li>
            <li><a href="/create">create</a></li>
        </ul>
    </nav>
    <div>
        <h1>Home</h1>
    </div>
</body>
</html>