@import './utils';
@import './variable';

@keyframes moveAnimate-red {
  0% {
    @include move(0 * $disMulred px, 0 * $disMulred px);
  }
  25% {
    @include move(0 * $disMulred px, 100 * $disMulred px);
  }
  50% {
    @include move(100 * $disMulred px, 100 * $disMulred px);
  }
  75% {
    @include move(100 * $disMulred px, 0 * $disMulred px);
  }
  100% {
    @include move(0 * $disMulred px, 0 * $disMulred px);
  }
}

.container{
  display: flex;
  align-items: center;
  background-color: black;
  .box{
    margin: 10px;
    opacity: 0.5;
    @include box(150px);
    // width: 100px;
    // height: 100px;
    &.red{
      background-color: $color-first;
      animation: blink-red 1.2 linear 0 infinite running slidein;
    }
    &.yellow{
      background-color: $color-second;
      animation: blink-yellow 1.2 linear 0 infinite running slidein;
    }
    &.green{
      background-color: $color-third;
      animation: blink-green 1.2 linear 0 infinite running slidein;
    }
    &:hover{
      $box-animation :$animation-duration * 2;
      opacity: 1;
      transform: scale(1.2);
      transition: transform $box-animation;
    }
  }
}


.btn{
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
}
.btn-primary{
  @extend .btn;
  background-color: $color-third;
}

@media (max-width : $breakpoint-sm ){
  .container{
    flex-direction: column;
  }
}