
div{
    width: 200px;
    height: 200px;
}

#contentdiv{
    background-color: white;
    border-radius: 50%;
    border: 4px white;
    background-position: auto;
    background-size : cover;
    background-image: url(../../../../../image/chineseCoolNoolde.jpg);
}
#outterdiv{
    padding: 5px;
    background:linear-gradient(45deg, red , yellow);
    border-radius: 50%;
    position: absolute;
}