<!DOCTYPE html>
<html lang="ko">
  <%- include('partials/head.ejs') %>
<body>
  <h1>404 NOT FOUNDS </h1>
  <div>
    <div></div>
    sorry to you meet this page
  </div>
  <a href="/">로그인 페이지로</a>
  <a href="/signup"> 회원가입 페이지로</a>
</body>
  <%- include('partials/tail.ejs') %>
</html>