<!DOCTYPE html>
<html lang="ko">
  <%- include('partials/head.ejs') %>
<body>
  <article>
    <form name="login-form">
      ㅁ<input type="text" id="userId" placeholder="아이디"><br>
      ㅁ<input type="password" id="userPw" placeholder="비밀번호"><br>
      <div class="buttongroup">
        <button type="button" onclick="signInFunc()">로그인</button>
      </div>
      <hr>
      <div><a href="/signup">회원가입</a></div>
    </form>
  </article>
</body>
  <%- include('partials/tail.ejs') %>
</html>