<!DOCTYPE html>
<html lang="ko">
    <%- include('./partials/head.ejs') %>
<body>
    <h1>index page</h1>
        <form action=""></form>
    <hr>
</body>
    <%- include('./partials/tail.ejs')%>
</html>
