header{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(181, 181, 181);
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
}
span, li{
    margin:0px 10px;
}
ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 0px;
}
.header2 > .menus{
    width: 100%;
}